.media-library-add-form--calameo .media-library-add-form__input-wrapper {
  display: flex;
}

@media screen and (max-width: 37.5em) {
  .media-library-add-form--calameo .media-library-add-form__input-wrapper {
    display: block;
  }
}

.media-library-add-form--calameo.media-library-add-form--without-input .form-item-url {
  margin-bottom: 0;
}

.media-library-add-form-calameo-url {
  width: 100%;
}
